body {
    font-family: Arial, sans-serif;
    background:#f4f7fa;
    margin:0; padding:0;
}

header {
    text-align:center;
    padding:40px;
    background:#2c5f2d;
    color:white;
}

.accordion-container{
    width:70%;
    margin:40px auto;
}

.accordion {
    background:#406343;
    color:white;
    cursor:pointer;
    padding:18px;
    width:100%;
    border:none;
    text-align:left;
    outline:none;
    font-size:18px;
    margin-top:10px;
    border-radius:6px;
    transition:0.3s;
}

.accordion:hover {
    background:#355236;
}

.panel {
    padding:20px;
    display:none;
    background:white;
    border-radius:0 0 6px 6px;
    margin-bottom:10px;
    border:1px solid #ddd;
}
