body {
    font-family: system-ui, sans-serif;
    background:#f4f7fa;
    margin:0;
}

header {
    background:#275a36;
    color:white;
    text-align:center;
    padding:25px 0;
}

main {
    width:70%;
    max-width:900px;
    margin:40px auto;
}

details {
    background:white;
    border-radius:8px;
    margin-bottom:12px;
    padding:15px;
    border:1px solid #dcdcdc;
}

summary {
    font-size:18px;
    cursor:pointer;
}

details summary:hover {
    color:#275a36;
}

.content {
    padding:15px 5px 5px 5px;
}

footer {
    text-align:center;
    margin:50px 0 20px;
    opacity:0.6;
    font-size:14px;
}
